.navbar{
	text-align: center;
}

#botao{
	text-align: center;
}

.jumbotron{
	background-color: #4285F4;
}

.botao{
	text-align: center;
}

.cpf{
	background-color: #4285F4;
}

body#background{
	background-color: #4285F4;
}